# Ignore node_modules directory (where dependencies are installed)
node_modules/

# Ignore npm's cache
.npm

# Ignore log files and other build products
logs/
*.log
npm-debug.log*

# Ignore environment-specific configuration files
.env
.env.local
.env.development
.env.test
.env.production